<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/output.css}">
</head>
<body class="bg-slate-800 ">
<main class=" min-w-screen min-h-screen flex items-center justify-center">
    <section class="flex flex-col items-end text-white bg-slate-950 p-12 rounded-2xl shadow-md" data-th-object="${View}">
        <div class="flex justify-end">
            <a th:href="@{/user/contacts}"><i class="fa-solid fa-x"></i></a>
        </div>
        <div class="flex flex-col items-center">
            <div class="mb-6 w-full flex justify-center">
                <img th:src="@{*{profilePictureurl}}" alt="" class="border-2 max-h-35 max-w-55   transition-transform duration-400 hover:scale-110 rounded-full">
            </div>
            <div class="mb-1.5 flex flex-col items-center w-full">
                <p class="font-serif text-green-500" >Name</p>
                <p class=" text-wrap font-serif"  th:text="*{name}"></p>
            </div>
            <div class=" flex flex-col items-center justify-between w-full">
                <p class="font-serif text-green-500">Phone Number</p>
                <p class="text-center text-wrap font-sans" th:text="*{phoneNumber}"></p>
            </div>
            <div class="flex flex-col items-center w-full">
                <p class="font-serif text-green-500">Email</p>
                <p class="text-center text-wrap" th:text="*{email}"></p>
            </div>
            <div class="flex  flex-col justify-between w-full ">
                <p class="text-center  font-serif text-green-500 text-wrap" >Web link</p>
                <a href=""><span th:text="*{Weblink}"></span></a>
            </div>
            <div class="flex flex-col items-center w-full">
                <p class="text-center text-wrap font-serif text-green-500" >Linkedin link</p>
                <a href=""><span th:text="*{LinkedInlink}"></span></a>
            </div>
            <div class="flex flex-col items-center gap-1 text-wrap mt-3">
                <p class="text-center text-wrap font-serif text-green-500 border-b-2" >Contact Address</p>
                <p th:text="*{Address}" class=""></p>
            </div>
            <div class="flex flex-col items-center gap-1 text-wrap mt-3">
                <p class="text-center text-wrap font-serif text-green-500 border-b-2" >Contact Desription</p>
                <p th:text="*{description}" class=""></p>
            </div>
        </div>
    </section>
</main>
</body>
</html>